.header-wrap input::-webkit-input-placeholder {
   color: white;
}

.logo{
	color: #AE0A09;
	font-family: Montserrat,Helvetica,Arial,sans-serif;
	font-size: 30px;
	margin-top: 7px;
}

.logo-image {
    width: 5%;
	vertical-align: middle;
}
.red {
    color: red;
}
.white {
    color: white;
}
.favorite {
    color: #D94646 !important;
}
.space
{
	padding:10px;
}
.adv_search_form	td
{
	padding:5px;
}
.margin{
	margin:5px;
}
.margin-0{
	margin:0px;
}
.cancel
{
	background-color: #6bb8d7;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    margin-top: -0.3em;
    padding: 0.3em 0.8em 0.4em;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.comment
{
	border: 1px solid red;
    color: green;
    margin: 0 0 10px;
    padding: 12px;
    text-align: center;
	font-size: 15px;
}

.forget-pwd
{
	line-height: 30px;
	color:#fff;
}
.forget-pwd:hover
{
	color:#000;
}

.user-list
{
	margin-right: 0px !important;
    margin-left: 3.8%;
}